# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
pubspec.lock

# IDE
*.iml
.idea/
.vscode/
.history/

# Plugin generated
.flutter-plugins
.flutter-plugins-dependencies

# Example app
example/.dart_tool/
example/build/
example/pubspec.lock
example/.flutter-plugins
example/.flutter-plugins-dependencies

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
